h1{
    color:brown;
    background-color: aqua;
}


body{
    color: rgb(138, 165, 42);
    background-attachment: rgb(255, 0, 204);                                                                                                                      ;
}

body{
    color: rgb(138, 165, 42);
    background-attachment: rgb(255, 0, 204);                                                                                                                      ;
}